// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';

body {
  background:#FFC0A7;
  //font-family: 'Pacifico', cursive;
  font-family: 'Cookie', cursive;
}
h6{
    //font-family: 'Pacifico', cursive;
    font-family: 'Cookie', cursive;
    font-size:1.5em;
    padding-left :20px;
}
.addForm{
  width:500px;
  margin :50px auto;
  border :1.5em solid black;
}

.addCont{
  padding :15px;
}

.msg{
  height: 150px;
}

// .in-border{
//   font-size :55px;
// }

.sub-btn{
  background-color:#C9D883;
  font-family: 'Cookie', cursive;
  font-size:1.5em;
}

input.in-border, 
textarea.in-border {
  font-size:20px;
  border-left :3px solid black;
}

.homeview{
  width:600px;
  border:double;
  padding :15px;
  padding-top:20px;
  margin: 50px auto;
  background-color:#C9D883;
}

small{
  color:red;
}

.messagelist{
  list-style:none;
  font-style:italic;
  font-size: 1.5em;
}